<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <meta property="og:title" content="Sweeter - the sweetest site" />
    <meta property="og:description" content="mini project for Web Plus" />
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" />
    <title>Secret</title>

    <!-- Bulma CSS link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="hero is-large is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">The Secret Page</h1>
          <h2 class="subtitle">{{msg,user_info.profile_name}}</h2>
        </div>
      </div>
    </section>
    
  </body>
</html>